.navbarContainer{
    /* background-color: green; */

}

.logoMenuContainer{
    
    
    
}

.logoSecContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 8rem;
    padding-left: 8rem;


    /* position: absolute;
    top: 1rem; */

    position: relative;
    top: 4rem;
    margin-top: -3rem;




    /* background-color: green; */
}

.logoContainer{
    /* position: absolute;
    top: 1rem; */
}
.contactBtn{
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: solid 1px white;
    /* position: absolute;
    top: 1rem; */
}

.contactBtn:hover {
    background-color: black;
    opacity: 0.8;
}

.menuContainer{
    /* background-color: yellow; */
    padding-top: 18px;
    padding-right: 8rem;
    padding-left: 8rem;


    position: absolute;
    top: 4rem;




}
.menuIndividual{
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

.menuBtn:hover{
    color: rgb(255, 175, 28);
}

